<div>
    <h3>Dispositivo Creado:</h3>
	<p>Nombre: {{nombre}}</p>
	<p>Horas Minimas: {{horasMinimas}}</p>
	<p>Horas Maximas: {{horasMaximas}}</p>
	<p>Horas uso: {{horasuso}}</p>
	<p>Kw/Hora: {{kwhora}}</p>
	<br/>
	<br/>
	<br/>
	<p><a href="http://localhost:8080/">Home</a></p>
</div>